<template>
  <q-layout view="lHh Lpr lFf">
    <div :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-2'">
      <div class="fit relative-position row justify-center">
        <template>
          <div class="col-xs-12 col-md-10 q-pa-md">
            <template>
              <div class="q-py-md col-xs-12 col-md-8">
                <div class="q-py-md col-md-6 col-xs-12">
                  <q-carousel
                    animated
                    v-model="slide"
                    arrows
                    infinite
                    :autoplay="autoplay"
                    class="width:10140px"
                  >
                    <q-carousel-slide
                      :name="1"
                      img-src="~assets/images/111.jpg"
                    >
                      <div
                        class="absolute-bottom q-ma-md full-width text-white text-right"
                      >
                        <span class="text-h5 custom-caption">
                          اینجا حافظه ملی ایرانیان است
                        </span>
                      </div>
                    </q-carousel-slide>
                    <q-carousel-slide
                      :name="2"
                      img-src="~assets/images/222.jpg"
                    >
                      <div
                        class="absolute-bottom q-ma-md full-width text-white text-right"
                      >
                        <span class="text-h5 custom-caption">
                          اینجا حافظه ملی ایرانیان است
                        </span>
                      </div>
                    </q-carousel-slide>
                    <q-carousel-slide
                      :name="3"
                      img-src="~assets/images/333.jpg"
                    >
                      <div
                        class="absolute-bottom q-ma-md full-width text-white text-right"
                      >
                        <span class="text-h5 custom-caption">
                          اینجا حافظه ملی ایرانیان است
                        </span>
                      </div>
                    </q-carousel-slide>
                  </q-carousel>
                </div>
              </div>
              <div
                class=" row full-width right-border top-border left-border bottom-border "
              >
                <div class="row flex flex-center">
                  <div class="col-xs-12 col-md-4 q-pa-md font ">
                    <div class="q-ma-md text-center">
                      افراد حاضر در کتابخانه ملی:۵۲۹ نفر
                    </div>
                    <div class="q-ma-lg text-center">
                      صندلی خالی موجود:۲۱
                    </div>
                  </div>
                  <div
                    class="col-xs-12 col-md-4 justify-center items-center font q-pa-sm"
                  >
                    <div class=" row full-width items-center">
                      <div class="q-mt-sm col-12 text-center">
                        درصد استفاده از همه تالار ها
                      </div>
                      <div
                        class="q-ma-sm col-12 column justify-center items-center "
                      >
                        <q-circular-progress
                          :value="value"
                          size="150px"
                          :thickness="1"
                          color="grey-5"
                          track-color="teal-8"
                          class="q-ma-md"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4 q-pa-md">
                    <div class=" row full-width flex flex-center items-center">
                      <div class="q-mt-md text-h6 flex flex-center">
                        درصد استفاده از تالار های تخصصی
                      </div>
                      <div class="q-pa-md full-width">
                        <q-linear-progress
                          size="25px"
                          :value="progress1"
                          color="teal"
                          stripe
                        >
                          <div class="absolute-full flex flex-center">
                            <q-badge
                              color="teal"
                              text-color="white"
                              :label="progressLabel1"
                            />
                          </div>
                        </q-linear-progress>
                        <div class="q-mt-md text-h6 flex flex-center">
                          درصد استفاده از تالار های عمومی
                        </div>
                        <div class="q-pt-sm full-width">
                          <q-linear-progress
                            size="25px"
                            :value="progress2"
                            color="teal"
                            stripe
                          >
                            <div class="absolute-full flex flex-center">
                              <q-badge
                                color="teal"
                                text-color="white"
                                :label="progressLabel2"
                              />
                            </div>
                          </q-linear-progress>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row full-width q-pt-md">
                <div class="col-xs-12 col-md-6">
                  <div class="row full-width">
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        unelevated
                        icon-right="mdi-content-copy"
                        label="شبکه مراکز اسناد کشور"
                        class="BTNTeal"
                        dense
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        unelevated
                        icon-right="mdi-bookshelf"
                        label=" کتابخانه های کشور"
                        class="BTNTeal"
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        unelevated
                        icon-right="mdi-library"
                        label="بانک نشریات "
                        class="BTNTeal"
                        dense
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        dense
                        unelevated
                        icon-right="mdi-fountain-pen-tip"
                        label="فهرست نسخ خطی"
                        class="BTNTeal"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="row full-width">
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        dense
                        unelevated
                        icon-right="mdi-book-open-variant"
                        label="سامانه نشریات"
                        class="BTNTeal"
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        unelevated
                        icon-right="mdi-book-open-page-variant"
                        label="نشریات عملی"
                        class="BTNTeal"
                        dense
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        dense
                        unelevated
                        icon-right="mdi-desktop-classic"
                        label="کنابخانه دیجیتال"
                        class="BTNTeal"
                      />
                    </div>
                    <div
                      class="column items-center q-pa-sm col-xs-6 col-sm-3 col-md-3"
                    >
                      <q-btn
                        color="teal"
                        text-color="white"
                        unelevated
                        icon-right="mdi-hand-heart"
                        label="اهدای منابع"
                        class="BTNTeal"
                        dense
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row full-width q-mt-md">
                <div class="col-xs-12 col-md-6 div-search bg-pegaah">
                  <div class="q-pa-sm font text-white">
                    جستجو در منابع سازمان
                  </div>
                  <div class="q-pa-sm">
                    <div class="row full-width justify-center">
                      <div class="q-pa-sm col-xs-12 col-md-10">
                        <q-input
                          dense
                          debounce="300"
                          v-model="filter2"
                          placeholder="جستجو"
                          outlined
                          class="text-red bg-white-input"
                          bg-color="white"
                        />
                      </div>
                      <div class="q-pa-sm col-xs-12 col-md-5">
                        <q-select
                          outlined
                          v-model="model"
                          :options="options"
                          label="منابع کتابخانه و آرشیو"
                          bg-color="white"
                          dense
                          label-color="black"
                          class="bg-white-input"
                        />
                      </div>
                      <div class="q-pa-sm  col-xs-12 col-md-5">
                        <q-select
                          outlined
                          v-model="model1"
                          :options="options1"
                          label="همه موارد"
                          bg-color="white"
                          dense
                          label-color="black"
                          class="bg-white-input"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row full-width righ-btn">
                    <div class="col-md-12">
                      <q-btn flat style="color: #FFFFFF" label="جستجو" />
                      <span style="color: #FFFFFF" class="q-ma-sm">
                        |
                      </span>
                      <q-btn
                        flat
                        style="color: #FFFFFF"
                        label="جستجوی پیشرفته"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-3 q-px-md rounded-borders shadow-2 q-pa-md"
                  :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
                >
                  <div class="row relative-position q-mb-md">
                    <div
                      class="inline-block q-pl-sm q-pr-md text-h6"
                      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
                      style="z-index:10;"
                    >
                      از ما بپرسید
                    </div>
                    <div
                      class="column justify-center col-xs-12 absolute-center"
                    >
                      <q-separator class="q-mb-xs" color="black" />
                      <q-separator color="black" />
                    </div>
                  </div>
                  <div class="row justify-between items-center">
                    <q-btn label="گفتگوی آنلاین" flat />
                    <q-icon name="mdi-chat" size="sm" />
                  </div>
                  <div class="row justify-between items-center">
                    <q-btn label="ایمیل" flat />
                    <q-icon name="mdi-email" size="sm" />
                  </div>
                  <div class="row justify-between items-center">
                    <q-btn label="پیامک" flat />
                    <q-icon name="mdi-cellphone-message" size="sm" />
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-3 q-px-md rounded-borders shadow-2 q-pa-md"
                  :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
                >
                  <div class="row relative-position q-mb-md">
                    <div
                      class="inline-block q-pl-sm q-pr-md text-h6"
                      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
                      style="z-index:10;"
                    >
                      عضویت
                    </div>
                    <div
                      class="column justify-center col-xs-12 absolute-center"
                    >
                      <q-separator class="q-mb-xs" color="black" />
                      <q-separator color="black" />
                    </div>
                  </div>
                  <div class="row justify-center items-center">
                    <q-btn label="آیین نامه عضویت" flat />
                  </div>
                  <div class="row justify-center items-center">
                    <q-btn label="درخواست عضویت" flat />
                  </div>
                  <div class="row justify-center items-center">
                    <q-btn label="ویرایش پروفایل" flat />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12 text-h5 text-center q-pa-md">
                  دسترسی سریع به خدمات
                </div>
                <div class="col-xs-12 col-md-12 q-pt-sm text-center">
                  <q-btn
                    label="برای مشاهده همه خدمات کلیک کنید"
                    flat
                    size="md"
                  />
                </div>
                <div class="col-xs-12 col-md-12 q-pt-sm">
                  <hr />
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
    <template>
      <div class="full-width relative-position">
        <div
          class=" row items-center justify-center q-my-lg relative-position"
          :class="$q.screen.gt.sm ? '' : 'q-px-md'"
          style="z-index:2;"
        >
          <div class="col-xs-12 col-md-10 col-lg-8 ">
            <div class="row justify-center">
              <div
                class="col-xs-12 col-md-8 col-lg-7 relative-position q-pt-lg "
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="text">
                      <span class=" text-bold">
                        خدمات مشتریان
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        قوانین و مقررات
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        سوالات متداول
                      </span>
                    </div>
                    <div class="caption">
                      <span class="q-pt-">
                        راهنمای خرید
                      </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="text">
                      <span class=" text-bold">
                        لینک های مرتبط
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        وبسایت گروه
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        ارتباط با درگاه های بانکی
                      </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <div>
                      <span class=" text-bold">
                        پشتیبانی مشتریان
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        پشتیبانی وبسایت
                      </span>
                      <span dir="rtl">
                        021-123456
                      </span>
                    </div>
                    <div class="caption">
                      <span>
                        واحد ارتباط با مشتریان
                      </span>
                      <span>
                        1234
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-8 col-lg-5 q-pt-lg">
                <div class="row">
                  <div class="col-xs-12 col-md-4 bg-amber">
                    نشانی
                  </div>

                  <div class="q-pt-sm">
                    ساختمان كتابخانه ملی : تهران، بزرگراه شهيد حقانی، بعد از
                    ايستگاه مترو حقانی، خروجی كتابخانه ملی ساختمان آرشيو ملی :
                    تهران، بزرگراه حقانی (شرق به غرب)، نبش خیابان کوشا، روبروی
                    ورزشگاه شهید کشوری، ساختمان آرشیو ملی
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-10 col-lg-12 q-pt-lg">
                <q-separator />
              </div>
              <div class="col-xs-12 col-md-10 col-lg-12 q-pt-lg ">
                <div class="row">
                  <div
                    class="col-xs-12 col-sm-6 col-md-4 column justify-center"
                  >
                    <div
                      style="display: inline-block;"
                      :class="$q.screen.lt.sm ? 'text-center' : 'text-left'"
                    >
                      <div class="inline-block text-center">
                        <span class="text-grey-6 text-h5 text-bold">
                          کتابخانه|library
                        </span>
                        <br />
                        <div
                          class="justify-center text-center bg-grey text-white q-px-xl q-py-xs"
                          style="border-radius:5px; display:inline-block"
                        >
                          پرتال جامع کتابخانه کشور
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 text-center q-pr-lg">
                    <!-- <div
                      class="bg-amber text-center inline-block"
                      style=" border-radius: 50px;
                            width:200px;height:100px;"
                    > -->
                    <q-img class="q-my-md" src="~assets/images/logo.png" />
                    <!-- </div> -->
                    <!-- <div
                      class="bg-amber text-center inline-block"
                      style=" border-radius: 50px;
                            width:100px;height:100px;"
                    >
                      enamad
                    </div> -->
                  </div>
                  <div
                    dir="rtl"
                    class="col-xs-12 col-md-4 justify-center column"
                    :class="$q.screen.lt.md ? 'text-center' : 'text-right'"
                  >
                    <div class="text-caption text-grey copy-right-text">
                      Copyright 2007-2020, IRANeCAR. All Rights Reserved ©-
                      V2.10.15.1
                    </div>
                    <div class="text-caption text-grey">
                      تمامی حقوق مادی و معنوی این سایت محفوظ است
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </q-layout>
</template>
<script>
const menuList = [];
export default {
  data() {
    return {
      slide: 1,
      autoplay: true,
      link: "inbox",
      tab: "mails",
      progress1: 0.7,
      progress2: 0.4,
      menuList,
      value: 71,
      model: null,
      options: ["منابع کتابخانه وآرشیو", "بانک مستندات", "کتابخانه دیجیتال"],
      model1: null,
      options1: ["همه موارد", "کتاب", "پایان نامه", "چاپ سنگی"],
      filter2: ""
    };
  },
  computed: {
    progressLabel1() {
      return this.progress1 * 100 + "%";
    },
    progressLabel2() {
      return this.progress2 * 100 + "%";
    }
  },

  methods: {}
};
</script>

<style scoped>
.button {
  font-size: 13px;
}
.btn:hover {
  color: goldenrod;
}
[dir="rtl"] .right-border {
  border-right: 2px solid #555555;
  right: 20px;
}

[dir="rtl"] .top-border {
  border-top: 2px solid #555555;
  top: 20px;
}

[dir="rtl"] .bottom-border {
  border-bottom: 2px solid #555555;
  bottom: 20px;
}

[dir="rtl"] .left-border {
  border-left: 2px solid #555555;
  left: 20px;
}
.font {
  font-size: 17px;
}
.percentage {
  height: 24px;
}
.BTNTeal {
  height: 100px;
  width: 100px;
}
.righ-btn {
  direction: rtl;
}
.div-search {
  border-radius: 20px;
}
</style>
<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  background-color: rgba(0, 0, 0, .3)
  width: 364px
  height: 55px
</style>
<style>
/* .wide-on-focus input {
  width: 10px !important;
  max-width: 10px !important;
  transition: 1s;
} */
.wide-on-focus {
  width: 50px !important;
  max-width: 50px !important;
  transition: 1s;
}

/* [dir="rtl"] .wide-on-focus {
  position: absolute;
  left: 0;
  z-index: 10;
} */

.wide-on-focus.q-field--focused {
  width: 350px !important;
  max-width: 350px !important;

  transition: 1s;
}

@media only screen and (min-width: 350px) and (max-width: 599px) {
  .wide-on-focus.q-field--focused {
    max-width: 260px !important;
    transition: 1s;
  }
}

@media only screen and (max-width: 350px) {
  .wide-on-focus.q-field--focused {
    max-width: 220px !important;
    transition: 1s;
  }
}

.bg-pegaah {
  background-image: url("~@/~assets/images/background.jpg");
}

.bg-white-input.q-field--dark .q-field__native {
  color: black;
}

.bg-white-input.q-field--dark .q-field__marginal {
  color: black;
}
</style>
