<template>
  <q-page class="flex flex-center" dir="rtl">
    <div
      class="full-width row"
      :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-2'"
    >
      <div class="col-12">
        <h6 class="q-px-lg q-mx-md q-my-sm bg-teal">لیست کتاب ها</h6>
        <hr />
      </div>
      <div class="col-12 col-xs-12 col-sm-12 q-pa-md">
        <q-table
          :data="bookList"
          :columns="columns"
          :visible-columns="visibleColumns"
          row-key="id"
          :pagination.sync="pagination"
          :filter="filter"
          :grid="viewMode === 'card'"
        >
          <template v-slot:top="props">
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="جستجو"
            >
              <template v-slot:append> <q-icon name="search" /> </template>
            </q-input>
            <q-select
              v-model="visibleColumns"
              multiple
              outlined
              dense
              options-dense
              :display-value="$q.lang.table.columns"
              emit-value
              map-options
              :options="columns"
              option-value="name"
              options-cover
              :class="$q.screen.lt.sm ? 'q-mb-sm' : ''"
              style="min-width: 150px;margin-right:10px;"
            />

            <q-radio
              keep-color
              v-model="viewMode"
              val="table"
              label="جدول"
              color="teal"
            />
            <q-radio
              keep-color
              v-model="viewMode"
              val="card"
              label="کارت"
              color="teal"
            />
            <q-space />
            <q-btn
              color="positive"
              @click="openAddBookModal()"
              push
              glossy
              round
              icon="mdi-sticker-plus-outline"
            >
              <q-tooltip
                content-class="bg-positive"
                :offset="[10, 3]"
                transition-show="flip-right"
                transition-hide="flip-left"
                >افزودن کتاب</q-tooltip
              >
            </q-btn>
            <q-btn
              flat
              round
              dense
              :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="props.toggleFullscreen"
              class="q-ml-md"
            />
          </template>
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-btn
                class="q-mr-sm"
                size="sm"
                color="secondary"
                content-style="font-size: 14px"
                round
                dense
                @click="viewBook(props.row.id)"
                icon="mdi-eye"
              >
                <q-tooltip>نمایش کتاب</q-tooltip>
              </q-btn>
              <q-btn
                class="q-mr-sm"
                size="sm"
                color="red"
                content-style="font-size: 14px"
                round
                dense
                @click="deleteBook(props.row.id)"
                icon="delete"
              >
                <q-tooltip>حذف کتاب</q-tooltip>
              </q-btn>
              <q-btn
                class="q-mr-sm"
                size="sm"
                color="warning"
                content-style="font-size: 14px"
                round
                dense
                @click="openEditBookModal(props.row)"
                icon="mdi-pencil"
              >
                <q-tooltip>ویرایش کتاب</q-tooltip>
              </q-btn>
            </q-td>
          </template>
          <template v-slot:item="props">
            <div
              class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
              :style="props.selected ? 'transform: scale(0.95);' : ''"
            >
              <q-card>
                <q-card-section>
                  <h6 class="q-my-none">{{ props.row.id }}</h6>
                </q-card-section>
                <q-separator></q-separator>
                <q-list>
                  <q-item v-for="col in props.cols" :key="col.name">
                    <q-item-section v-if="col.name == 'actions'">
                      <div class="row justify-center">
                        <q-btn
                          class="q-mr-sm"
                          size="sm"
                          color="secondary"
                          content-style="font-size: 14px"
                          round
                          @click="viewBook(props.row.id)"
                          icon="mdi-eye"
                        >
                          <q-tooltip>نمایش کتاب</q-tooltip>
                        </q-btn>
                        <q-btn
                          class="q-mr-sm"
                          size="sm"
                          color="red"
                          content-style="font-size: 14px"
                          round
                          @click="deleteBook(props.row.id)"
                          icon="delete"
                        >
                          <q-tooltip>حذف کتاب</q-tooltip>
                        </q-btn>
                        <q-btn
                          class="q-mr-sm"
                          size="sm"
                          color="warning"
                          content-style="font-size: 14px"
                          round
                          @click="openEditBookModal(props.row.categoryId)"
                          icon="mdi-pencil"
                        >
                          <q-tooltip>ویرایش کتاب</q-tooltip>
                        </q-btn>
                      </div>
                    </q-item-section>
                    <template v-else>
                      <q-item-section>
                        <q-item-label>{{ col.label }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ col.value }}</q-item-label>
                      </q-item-section>
                    </template>
                  </q-item>
                </q-list>
              </q-card>
            </div>
          </template>
        </q-table>
      </div>
    </div>
    <q-dialog v-model="confirmDeleteModal" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="mdi-comment-question"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm"
            >مطمئن هستید که میخواهید این کتاب را پاک کنید؟</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="خیر" color="red" v-close-popup />
          <q-btn
            flat
            label="بله"
            color="secondary"
            @click="confirmDelete()"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="bookModal"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card>
        <q-bar class="bg-indigo">
          <q-space />
          <q-btn
            dense
            flat
            icon="minimize"
            @click="maximizedToggle = false"
            :disable="!maximizedToggle"
          >
            <q-tooltip
              v-if="maximizedToggle"
              content-class="bg-white text-primary"
              >کوچک کردن</q-tooltip
            >
          </q-btn>
          <q-btn
            dense
            flat
            icon="crop_square"
            @click="maximizedToggle = true"
            :disable="maximizedToggle"
          >
            <q-tooltip
              v-if="!maximizedToggle"
              content-class="bg-white text-primary"
              >تمام صفحه</q-tooltip
            >
          </q-btn>
          <q-btn dense color="red" flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-red text-white">بستن</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-md">
          <div class="full-width row">
            <div class="col-xs-12">
              <h6 class="q-mx-md q-my-sm">
                {{ bookMode === "edit" ? "ویرایش کتاب" : "افزودن کتاب" }}
              </h6>
            </div>
            <div class="col-xs-12 col-md-6">
              <q-input
                filled
                v-model="curentBook.name"
                type="text"
                label="نام:"
                label-color="info"
                class="q-mx-md q-my-sm"
              />
            </div>
            <div class="col-xs-12 col-md-6">
              <q-input
                filled
                v-model="curentBook.genre"
                type="text"
                label="ژانر:"
                label-color="info"
                class="q-mx-md q-my-sm"
              />
            </div>
            <div class="col-xs-12 col-md-6">
              <q-input
                filled
                v-model="curentBook.description"
                type="text"
                label="توضیحات:"
                label-color="info"
                class="q-mx-md q-my-sm"
              />
            </div>
            <div class="col-xs-12 col-md-6">
              <q-input
                filled
                v-model="curentBook.author"
                type="text"
                label="نویسنده:"
                label-color="info"
                class="q-mx-md q-my-sm"
              />
            </div>
            <div class="col-xs-12 col-md-6">
              <q-input
                filled
                v-model="curentBook.price"
                type="text"
                label="قیمت:"
                label-color="info"
                class="q-mx-md q-my-sm"
              />
            </div>
          </div>
          <div class="col-xs-12 q-mt-lg">
            <q-btn
              v-if="bookMode === 'add'"
              color="positive"
              @click="addNewBook()"
              label="افزودن کتاب"
              push
              glossy
              icon="mdi-sticker-plus-outline"
            >
            </q-btn>
            <q-btn
              v-else-if="bookMode === 'edit'"
              color="amber"
              @click="editBook()"
              label="ویرایش کتاب"
              push
              glossy
              icon="mdi-pencil"
            >
            </q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  mounted() {
    this.getAdminTestBookList();
  },
  data() {
    return {
      confirmDeleteModal: false,
      bookModal: false,
      maximizedToggle: true,
      bookList: [],
      curentBook: {
        name: "",
        genre: "",
        description: "",
        author: "",
        price: ""
      },
      bookMode: "",
      viewMode: "table",
      lastId: 106,
      deleteId: "",
      filter: "",
      pagination: {
        page: 1,
        rowsPerPage: 5
      },
      visibleColumns: [
        "name",
        "genre",
        "description",
        "author",
        "price",
        "actions"
      ],
      columns: [
        {
          name: "name",
          align: "center",
          label: "نام کتاب",
          field: "name",
          sortable: true
        },
        {
          name: "genre",
          align: "center",
          label: "ژانر",
          field: "genre",
          sortable: false
        },
        {
          name: "description",
          align: "center",
          label: "درباره کتاب",
          field: "description",
          sortable: false
        },
        {
          name: "author",
          align: "center",
          label: "نویسنده",
          field: "author",
          sortable: false
        },
        {
          name: "price",
          align: "center",
          label: "قیمت",
          field: "price",
          sortable: true
        },
        { name: "actions", label: "عملیات", field: "", align: "center" }
      ]
    };
  },
  methods: {
    openAddBookModal() {
      this.curentBook = {
        name: "",
        genre: "",
        description: "",
        author: "",
        price: ""
      };
      this.bookMode = "add";
      this.bookModal = true;
    },
    openEditBookModal(book) {
      this.curentBook = {
        id: book.id,
        name: book.name,
        genre: book.genre,
        description: book.description,
        author: book.author,
        price: book.price
      };
      this.bookMode = "edit";
      this.bookModal = true;
    },
    addNewBook() {
      this.lastId += 1;
      this.curentBook.id = this.lastId;
      this.bookList.push(this.curentBook);
      this.bookModal = false;
    },
    editBook() {
      console.log(this.curentBook);
      for (var i in this.bookList) {
        if (this.bookList[i].id == this.curentBook.id) {
          this.bookList[i].name = this.curentBook.name;
          this.bookList[i].genre = this.curentBook.genre;
          this.bookList[i].description = this.curentBook.description;
          this.bookList[i].author = this.curentBook.author;
          this.bookList[i].price = this.curentBook.price;
          break; //Stop this loop, we found it!
        }
      }

      // this.bookList.forEach(function(index, value) {
      //   if (this.bookList[index].id === this.curentBook.id) {
      //     this.bookList[index] = this.curentBook;
      //   }
      // });
      this.bookModal = false;
    },
    viewBook(testDetailId) {
      alert("نمایش کتاب!");
    },
    deleteBook(id) {
      this.confirmDeleteModal = true;
      this.deleteID = id;
    },
    confirmDelete() {
      this.bookList = this.bookList.filter(item => item.id !== this.deleteID);
      alert("کتاب پاک شد.");
    },
    getAdminTestBookList() {
      this.bookList = [
        {
          id: 101,
          name: "هری پاتر",
          genre: "تخیلی",
          description: "توضیحات مربوط به کتاب هری پاتر",
          author: "جی کی رولینگ",
          price: 1000
        },
        {
          id: 102,
          name: "1هری پاتر",
          genre: "تخیلی",
          description: "توضیحات مربوط به کتاب هری پاتر",
          author: "جی کی رولینگ",
          price: 1500
        },
        {
          id: 103,
          name: "2هری پاتر",
          genre: "تخیلی",
          description: "توضیحات مربوط به کتاب هری پاتر",
          author: "جی کی رولینگ",
          price: 650
        },
        {
          id: 104,
          name: "آموزش C#",
          genre: "آموزشی",
          description: "توضیحات مربوط به کتاب آموزشی",
          author: "جان شارپ",
          price: 15000
        },
        {
          id: 105,
          name: "4هری پاتر",
          genre: "تخیلی",
          description: "توضیحات مربوط به کتاب هری پاتر",
          author: "جی کی رولینگ",
          price: 10000
        },
        {
          id: 106,
          name: "5هری پاتر",
          genre: "تخیلی",
          description: "توضیحات مربوط به کتاب هری پاتر",
          author: "جی کی رولینگ",
          price: 10000
        }
      ];
    }
  }
};
</script>
