<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-teal">
      <div class="row full-width">
        <div class="col-xs-12 justify-center q-mt-md">
          <div class="row relative-position justify-center">
            <div class="col-xs-12">
              <q-btn
                v-if="!$q.screen.gt.sm"
                icon="menu"
                color="orange"
                @click="drawer = !drawer"
              ></q-btn>
              <q-input
                dense
                debounce="300"
                placeholder="جستجو"
                rounded
                outlined
                standout="bg-white text-teal"
                class="q-mt-md q-ml-sm wide-on-focus inline-block"
                color="orange-5"
                v-model="filter"
              >
                <template v-slot:append>
                  <q-icon color="orange" name="search" />
                </template>
              </q-input>
            </div>
          </div>
          <div
            class="row full-width relative-position"
            :class="$q.screen.gt.sm ? 'justify-center' : 'justify-start'"
            v-if="$q.screen.gt.sm"
          >
            <q-btn dense flat class="q-mt-md q-mx-sm btn">خانه</q-btn>

            <q-btn dense flat class="q-mt-md q-mx-sm button btn"
              >میز خدمت</q-btn
            >
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="انتشارات"
            >
              <q-list>
                <q-item clickable v-close-popup to="index">
                  <q-item-section>
                    <q-item-label class="text-center">کتاب ها</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">مجلات تخصصی</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">دانشنامه ها</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="آموزش/پژوهش"
            >
              <q-list>
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">پژوهش</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">آموزش</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >گروه های پژوهشی</q-item-label
                    >
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="مجموعه ها"
            >
              <q-list>
                <q-item clickable v-close-popup to="index">
                  <q-item-section>
                    <q-item-label class="text-center">کتابخانه ای</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">اسنادی</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">دیجیتالی</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="ارتباط"
            >
              <q-list>
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">درباره ما</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">نظرات</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">نظر سنجی</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="مراجعه و بازدید"
            >
              <q-list>
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >راهنمای مراجعان</q-item-label
                    >
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >بازدید از کتابخانه و ارشیو</q-item-label
                    >
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >فضاها و امکانات</q-item-label
                    >
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown
              dense
              flat
              class="q-mt-md q-mx-sm button"
              label="درباره ما"
            >
              <q-list>
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >آمار و گزارش های سالیانه</q-item-label
                    >
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center">معرفی</q-item-label>
                  </q-item-section>
                </q-item>
                <hr />
                <q-item clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label class="text-center"
                      >راهبرد و برنامه</q-item-label
                    >
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>
      </div>
    </q-header>

    <q-drawer
      v-if="!$q.screen.gt.sm"
      v-model="drawer"
      :width="200"
      :breakpoint="500"
      overlay
      bordered
      class="bg-grey-3"
    >
      <q-btn
        v-if="!$q.screen.gt.sm"
        icon="menu"
        color="orange"
        @click="drawer = !drawer"
        class="full-width"
      ></q-btn>
      <q-separator inset />
      <q-scroll-area class="full-width" style="height: calc(100% - 40px)">
        <q-list bordered padding class="rounded-borders text-primary">
          <q-item class="flex flex-center">
            <q-btn
              :icon="$q.dark.isActive ? 'mdi-brightness-2' : 'mdi-brightness-7'"
              :color="$q.dark.isActive ? 'white' : 'amber'"
              flat
              dense
              round
              @click="toggleTheme"
            >
            </q-btn>
          </q-item>
          <q-separator spaced />
          <q-item clickable v-ripple active-class="my-menu-link">
            <q-item-section class="flex flex-center full-width">
              خانه
            </q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'namayandegan'"
            @click="link = 'namayandegan'"
            active-class="my-menu-link"
          >
            <q-item-section class="flex flex-center full-width"
              >میز خدمت</q-item-section
            >
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'savabegh'"
            @click="link = 'savabegh'"
            active-class="my-menu-link"
          >
            <q-item-section>
              <q-expansion-item
                expand-separator
                label="انتشارات"
                class="flex flex-center full-width"
              >
                <div class="row text-subtitle2">
                  کتاب ها
                </div>
                <div class="row text-subtitle2">
                  مجلات تخصصی
                </div>
                <div class="row text-subtitle2">
                  دانشنامه ها
                </div>
              </q-expansion-item>
            </q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'vorod'"
            @click="link = 'vorod'"
            active-class="my-menu-link"
          >
            <q-item-section>
              <q-expansion-item
                expand-separator
                label="آموزش و پژوهش"
                class="flex flex-center full-width"
              >
                <div class="row text-subtitle2">
                  آموزش
                </div>
                <div class="row text-subtitle2">
                  گروه های پژوهشی
                </div>
              </q-expansion-item>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
            :active="link === 'vorod'"
            @click="link = 'vorod'"
            active-class="my-menu-link"
          >
            <q-item-section>
              <q-expansion-item
                expand-separator
                label="مجموعه ها"
                class="flex flex-center"
              >
                <div class="row text-subtitle2 ">
                  کتابخانه ای
                </div>
                <div class="row text-subtitle2">
                  اسنادی
                </div>
                <div class="row text-subtitle2">
                  دیجیتالی
                </div>
              </q-expansion-item>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
            :active="link === 'vorod'"
            @click="link = 'vorod'"
            active-class="my-menu-link"
          >
            <q-item-section>
              <q-expansion-item
                expand-separator
                label="مراجعه و بازدید"
                class="flex flex-center full-width"
              >
                <div class="row text-subtitle2">
                  راهنمای مراجعان
                </div>
                <div class="row text-subtitle2">
                  بازدید از کتابخانه و آرشیو
                </div>
                <div class="row text-subtitle2">
                  فضا ها و امکانات
                </div>
              </q-expansion-item>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            v-ripple
            :active="link === 'vorod'"
            @click="link = 'vorod'"
            active-class="my-menu-link"
          >
            <q-item-section>
              <q-expansion-item
                expand-separator
                label="درباره ما"
                class="flex flex-center"
              >
                <div class="row text-subtitle2 justify-center items-center ">
                  آمار و گزارش های سالیانه
                </div>
                <div class="row text-subtitle2">
                  معرفی
                </div>
                <div class="row text-subtitle2">
                  راهبرد و برنامه
                </div>
              </q-expansion-item>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-btn
      :icon="$q.dark.isActive ? 'mdi-brightness-2' : 'mdi-brightness-7'"
      :color="$q.dark.isActive ? 'white' : 'amber'"
      v-if="!$q.screen.lt.md"
      class="q-mx-md"
      style="position: fixed; right:25px; top:50%; z-index: 50;"
      flat
      dense
      round
      @click="toggleTheme"
    >
    </q-btn>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: false,
      link: "inbox",
      drawer: false,
      filter: ""
    };
  },
  mounted() {
    let dark = localStorage.getItem("dark");
    // console.log(dark)
    if (dark && dark == "true") {
      this.$q.dark.set(true);
    }
  },
  methods: {
    toggleTheme() {
      this.$q.dark.toggle();
      localStorage.setItem("dark", JSON.stringify(this.$q.dark.isActive));
    },
    onItemClick() {
      // console.log('Clicked on an Item')
    }
  }
};
</script>
